body{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin:0px;
  font-family: 'Open Sans', sans-serif;
  }

header{
  display:flex;
  margin:0px;
  width: 100%;
  height: 100px;
  justify-content: center;
  background-color: #404041;
  color:#ED458B;
  font-weight: 700;
}

.grey{
  color:#E6E7E8;
}

/*fin HEADER*/

.env{
  display: flex;
  justify-content: center;
}
.game{
  display:flex;
  flex-direction: column;
  height: 400px;
  width:300px;
  justify-content: center;
}

input{
height:30px;
font-size: 15px;
font-family:  'Open Sans', sans-serif;
font-weight: 400;
}

input:focus {
    outline: none;
}

.choix{
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.bouton{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding:10px;
  margin-top:15px;
  margin-bottom: 20px;
}

button{
  width: 120px;
  padding:5px 5px;
  border-radius: 15px;
  background-color: #929497;
  color:#FFFFFF;
  border-style: none;
  font-family:  'Open Sans', sans-serif;
  font-weight: 400;
}

button:hover{
  background-color: #EB0D8B;
}

button:disabled{
  background-color: #D0D2D3;
}

h2{
  margin-top: 20px;
  font-size: 15px;
  margin:0px;
  color:#404041;
  font-weight: 400;
  text-align: center;
}
.num{
  display: flex;
  justify-content: center;
  width:100%;
}
#lastguess{
  margin-bottom: 10px;
  height:100px;
  width: auto;
  font-size: 65px;
  color:#EB008B;
}

#result{
  height: 50px;
  width:100%;
  font-size: 15px;
  margin:0px;
  color:#404041;
  text-align: center;
}
#reset{
  width:100%;

}
